<div
  style="
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
  "
>
  <div
    style="
      background: #ffffff;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      max-width: 600px;
      box-sizing: border-box;
      -webkit-text-size-adjust: none;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="background: #fff; margin: 0; padding: 0; max-width: 600px"
    >
      <tbody>
        <tr>
          <td style="background: #ffffff; padding: 63px 2px 0">
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td align="left">
                            <img
                              src="https://hancomfrontis.com/img/logo.jpg"
                              width="130"
                              height="50"
                              border="0"
                              alt=""
                              style="display: block"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="46"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="left" style="background: #fff; padding: 0">
                    <p
                      style="
                        margin: 0 0 24px;
                        padding: 0;
                        font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                        font-size: 26px;
                        color: #000;
                        letter-spacing: -1px;
                        line-height: 32px;
                        font-weight: bold;
                      "
                    >
                      이메일 인증을 진행해주세요
                    </p>
                    <p
                      style="
                        margin: 0 0 40px;
                        padding: 0;
                        font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                        font-size: 18px;
                        color: #404040;
                        letter-spacing: -1px;
                        line-height: 24px;
                      "
                    >
                      안녕하세요. [서비스]를 이용해주셔서 감사합니다 :)<br />
                      [서비스]가입을 위해 아래 인증번호를 입력해주세요.
                    </p>
                    <div style="background: #f9f9fb; border: 1px solid #ececec; border-radius: 4px">
                      <table width="100%" align="center" border="0" bgcolor="#f9f9fe" cellpadding="0" style="border: 0">
                        <tbody>
                          <tr>
                            <td height="38"></td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                                font-size: 48px;
                                color: #202020;
                                letter-spacing: 8px;
                                line-height: 56px;
                              "
                            >
                              <%= locals.authCode %>
                            </td>
                          </tr>
                          <tr>
                            <td height="38"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border: 0">
                      <tbody>
                        <tr>
                          <td
                            align="left"
                            style="
                              padding: 16px 0 0;
                              font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                              text-align: center;
                              font-size: 16px;
                              color: #808080;
                              letter-spacing: -1px;
                              line-height: 24px;
                            "
                          >
                            본 인증번호의 유효기간은 <%= locals.remainTime %>분 입니다.
                          </td>
                        </tr>
                        <tr>
                          <td height="56"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" style="border-top: 1px solid #ececec; background: #fff; padding: 0 0 72px">
            <p
              style="
                margin: 24px 0;
                padding: 0;
                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                color: #909090;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.5px;
                text-align: left;
              "
            >
              ©(주)outlawleojung All Rights Reserved.<br />
              경기도 성남시 대왕판교로 150 Leo 타워 100층<br />
              Tel : 031-123-4567
            </p>
            <div
              style="
                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                color: #909090;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: -0.5px;
                text-align: left;
              "
            >
              <a
                href="https://hancomfrontis.com/"
                target="_blank"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                  color: #909090;
                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >이용약관</a
              >
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a
                href="https://hancomfrontis.com/"
                target="_blank"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                  color: #909090;
                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >개인정보 처리방침</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
