<div
  style="
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
  "
>
  <div
    style="
      background: #ffffff;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      max-width: 600px;
      box-sizing: border-box;
      -webkit-text-size-adjust: none;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="background: #fff; margin: 0; padding: 0; max-width: 600px"
    >
      <tbody>
        <tr>
          <td style="background: #ffffff; padding: 63px 2px 0">
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td align="center">
                            <img
                              src="https://arzmeta.net/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Farz_logo_dark.f5efb990.png&w=1080&q=75"
                              width="180"
                              height="40"
                              border="0"
                              alt="a:rzmeta"
                              style="display: block"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="80"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="left" style="background: #fff; padding: 0">
                    <p
                      style="
                        margin: 0 0 24px;
                        padding: 0;
                        font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                        font-size: 26px;
                        color: #000;
                        letter-spacing: -1px;
                        line-height: 32px;
                        font-weight: bold;
                      "
                    >
                      비밀번호 재설정을 진행해주세요.
                    </p>
                    <p
                      style="
                        margin: 0 0 40px;
                        padding: 0;
                        font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                        font-size: 18px;
                        color: #404040;
                        line-height: 1.6;
                      "
                    >
                      안녕하세요. [서비스]를 이용해주셔서 감사합니다 :)<br />
                      비밀번호를 재설정하시려면 아래 버튼을 클릭해주세요.
                    </p>
                    <div style="background: #f9f9fb; border: 1px solid #ececec; border-radius: 4px">
                      <table width="100%" align="center" border="0" bgcolor="#f9f9fe" cellpadding="0" style="border: 0">
                        <tbody>
                          <tr>
                            <td height="38"></td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                                font-size: 48px;
                                color: #202020;
                                letter-spacing: 8px;
                                line-height: 56px;
                              "
                            >
                              <a
                                href="<%= locals.url %>/auth/reset-password?token=<%= locals.token %>&email=<%= locals.email %>"
                                style="
                                  background: #ffae48;
                                  color: #fff;
                                  text-decoration: none;
                                  border-radius: 8px;
                                  letter-spacing: 2;
                                  padding: 10px 40px;
                                  font-size: 18px;
                                "
                                >비밀번호 재설정
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td height="38"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border: 0">
                      <tbody>
                        <tr>
                          <td
                            align="left"
                            style="
                              padding: 16px 0 0;
                              font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                              text-align: center;
                              font-size: 16px;
                              color: #808080;
                              letter-spacing: -1px;
                              line-height: 24px;
                            "
                          >
                            본 인증번호의 유효시간은 <%= locals.remainTime %>분 입니다.
                          </td>
                        </tr>
                        <tr>
                          <td height="56"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" style="border-top: 1px solid #ececec; background: #fff; padding: 0 0 72px">
            <p
              style="
                margin: 24px 0 6px;
                padding: 0;
                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                color: #909090;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.5px;
                text-align: left;
              "
            >
              본 메일은 발신전용 입니다. 관련 문의사항은

              <a
                href="mailto:help.arzmeta@hancomfro.com"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;

                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >고객센터</a
              >로 문의해주세요.
            </p>
            <div
              style="
                margin: 0 0 6px;
                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                color: #909090;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: -0.5px;
                text-align: left;
              "
            >
              <a
                href="https://arzmeta.net/Stipulation"
                target="_blank"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                  color: #909090;
                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >이용약관</a
              >
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a
                href="https://arzmeta.net/Privacy"
                target="_blank"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                  color: #909090;
                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >개인정보 처리방침</a
              >
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a
                href="https://arzmeta.net/policy"
                target="_blank"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                  color: #909090;
                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >운영정책</a
              >
            </div>
            <p
              style="
                padding: 0;
                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                color: #909090;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.5px;
                text-align: left;
              "
            >
              ©(주)outlawleojung All Rights Reserved.<br />
              경기도 성남시 대왕판교로 150 Leo 타워 100층<br />
              Tel : 031-123-4567
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
